@import url('https://fonts.googleapis.com/css2?family=Gelasio:wght@500;700&family=Ribeye&family=Roboto:wght@400;500&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.6;
    color: #000;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Gelasio', serif;
    font-size: 43px;
    font-weight: 500;
    line-height: 1.4;
}

ol, ul {
    list-style: none;
}

button {
    background-color: #C9453B;
    border-radius: 5px;
    border: none;

    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    color: #fff;

    cursor: pointer;
}

.container {
    margin: 0 230px;
    width: 100%;
}

/* Header
================== */
.header {
    display: flex;
    flex-wrap: wrap;

    background-image: url(../images/header/background.jpg);background-color:#00000054;
    background-blend-mode: hard-light;
    background-repeat: no-repeat;
    background-size: cover;

    color: #fff;
}

.navigation {
    display: flex;
    justify-content: space-between;
    width: 100%;

    margin: 35px 0 200px;

}

.title-logo {
    font-family: 'Ribeye', cursive;
    font-size: 24px;
    font-weight: 400;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar a {
    text-decoration: none;
}

.navbar__link {
    padding: 0 25px;

    color: #fff;
}

.button {
    padding: 14px 35px;
    margin: 6px 0;
}

.header-info {
    margin-bottom: 240px;
}

.header-info__title {
    margin: 0;
    margin-bottom: 30px;

    font-size: 65px;
    font-weight: 700;
    line-height: 1.2;
}

.header-info__text {
    max-width: 460px;
    height: auto;

    margin: 0;
    margin-bottom: 40px;

    opacity: 0.6;
}

.button--info {
    padding: 18px 45px;
}