@import url('https://fonts.googleapis.com/css2?family=Gelasio:wght@500;700&family=Ribeye&family=Roboto:wght@400;500&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;

    color: #000;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Gelasio', serif;
    font-size: 43px;
    font-weight: 500;
    line-height: 1.4;
    color: #000;
}

.container {
    max-width: 1600px;
    margin-left: 230px;
    margin-right: 230px;
    padding-left: 10px;
    padding-right: 10px;
}

/* Button
================== */

.button {
    padding: 15px 35px;
    font-family: inherit;
    font-weight: 400;
    font-size: 16px;
    color:#fff;

    background-color: #C9453B;
    border: none;
    border-radius: 5px;

    cursor: pointer;
    transition: background-color .2s linear;
}

.button:hover {
    background-color: #8a3029;
}

.button--info {
    margin-bottom: 245px;
    padding: 15px 45px;
}
/* Nav
==================*/
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 45px;
}

.title-logo {
    font-family: 'Ribeye', cursive;
    font-size: 24px;
    font-weight: 400;
    line-height: 1.5;

    color: #fff;
}

.navbar {
    display: flex;
    justify-content: space-between;
}

.navbar__item {
    margin-right: 50px;
}

.navbar__link {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.5;
    transition: .2s linear;
}

.navbar__link:hover {
    color: #C9453B;
}

.navbar__item:last-child {
    margin-right: 0;
}

/* Header
================== */
.header {
    height: 100vh;

    background-image: url(../images/header/background.jpg);
    background-color: #555555;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: hard-light;

    color: #fff;
}

.header-info {
    margin-top: 200px;

    text-align: left;
}

.header-info__title {
    margin-bottom: 30px;

    font-family: 'Gelasio', serif;
    font-size: 65px;
    font-weight: 700;
    line-height: 1.2;

    color: #fff;
}

.header-info__text {
    max-width: 450px;

    margin-bottom: 40px;

    opacity: 0.6;
}

/* Location
==================== */

.title {
    margin-top: 140px;
    margin-bottom: 20px;

    text-align: center;
}

.text {
    margin-bottom: 50px;
    text-align: center;
    opacity: 0.6;
}

.location__cards {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 20px;
}

.card__item {
    width: 33.3333%;
    max-width: 360px;
    height: 500px;
    text-align: center;

    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    cursor: pointer;

    transition: .2s linear;
}

.card__item:hover {
    box-shadow: 0px 6px 35px rgba(0, 0, 0, 0.08);
}

.card__title {
    margin-top: 35px;
    font-size: 24px;
    line-height: 1.5;
}

/* Offers
==================== */
.offers__sliders {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.offer__item {
    width: 20%;
    max-width: 260px;
    height: 335px;

    margin-bottom: 50px;

    border-radius: 10px;
}

.offer__item:first-child{
    opacity: .6;
}

.offer__title {
    font-size: 24px;
    line-height: 1.5;
    margin-bottom: 5px;
}

.offer__info, .offer__local, .offer__rating {
    margin-bottom: 5px;

    display: flex;
}

.local__name {
    margin-left: 10px;
    margin-right: 50px;

    opacity: .6;
}

.offer__rating {
    margin-left: 0;
}

.rating__amout {
    margin-left: 10px;
}

.offer__duration {
    margin-bottom: 5px;
}

.duration__text {
    opacity: 0.6;
}

.offer__text {
    font-weight: 500;
}

.person {
    font-weight: 400;
    opacity: 0.6;
}

.slider__nav {
    display: flex;
    justify-content: center;
}

.slider__nav button {
    background-color: inherit;
    border: none;

    cursor: pointer;
}

.slider__nav img {
    width: 12px;
    height: 10px;
}

.arrow-left {
    margin-right: 50px;
}

.arrow-right {
    margin-left: 50px;
}

.status-bar {
    width: 225px;
    position: relative;
}

.status-bar span, span::before, span::after {
    position: absolute;
    content: "";
    width: 75px;
    height: 5px;

    top: 5px;
    left: 75px;

    background: rgba(201, 69, 59, 0.1);
    border-radius: 10px;

    cursor: pointer;

}
span::before {
    top: 0;
    left: -75px;
}

span::after {
    top: 0;
    left: 75px;;
}



/* Blog & News
========================== */

.articles{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}

/* Active
============================= */

.article__item-active {
    width: 50%;
}

.article__title-active {
    margin-top:25px;
    margin-bottom: 10px;

    font-size: 20px;
    line-height: 1.6;
}

.article__text-active {
    margin-bottom: 10px;
    max-width: 470px;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.6;

    color: #000;
    opacity: 0.6;
}

.article__author-active {
    font-family: inherit;
    font-size: 20px;
    font-weight: 500;
}

/* =================== */
.article__item{
    display: flex;
}

.article__image{
    margin-right: 25px;
    margin-bottom: 30px;
}

.article__title {
    margin-top:25px;
    margin-bottom: 10px;

    font-size: 20px;
    line-height: 1.5;
}

.article__text {
    margin-bottom: 5px;
    max-width: 240px;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.6;

    color: #000;
    opacity: 0.6;
}

.article__author {
    font-family: inherit;
    font-size: 20px;
    font-weight: 400;
}